.top__catories {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 600px;
    margin-top: $mg-1;

    .catories_mid {
        background-color: $color-white-5;
        padding: $fs-7;
        cursor: pointer;

        .card-text {
            text-align: center;
            font-size: $mg-2;
            font-family: serif;
            font-weight: $fw-3;
            color: black;
        }

        img:hover{
             transform: scale(0.9);
             transition: all .5s;
        }
    }
}